body {
    background-image: url(assets/lashes.png);
    height: 100%;
}

.empty {
    background-color: white;
}

.navbar {
    background-color: white !important;
    margin: 0px !important;
}
.navbar-brand {
    min-height: 55px;
    background-color: #777777;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    color: white !important;
}

.container {
    padding: 20px;
    background-color: white;
}

h2 {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 3px #777777 solid;
    width: 95%;
    margin: 0 auto 20px;
}


.propic {
    height: 20%;
    width: auto;

}

p {
    font-size: 18px;
}

.btn {
    background-color: #777777 !important;
    border-color: #777777 !important;
}

.btn:hover {
    background-color: black !important;
}

.portfolio {
    text-align: center;
}
.img-fluid {
    width: 50%;
    height: auto;
}

.figure {
    position: relative;
}

.figure-caption {
    background-color: white;
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 30px;
    border-top: white solid 10px;
    background-color: #777777;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
}