body {
    background-image: url(../basic-portfolio/assets/images/lashes.png);
    height: 100%;
}

.navbar {
    background-color: white;

}

.navbar-brand {
    float: left;
    min-height: 55px;
    background-color: #777777;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.navbar-brand a {
    color: white;
}

.navbar-light .navbar-nav .active a, .navbar-light .navbar-nav .active a:focus, .navbar-light .navbar-nav .active a:hover {
    color: #777777;
    background-color: white;

}

.container {
    padding: 20px;
    background-color: white;
    width: 60%;
    margin: 0 auto;
}

h2 {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 3px #777777 solid;
    width: 95%;
    margin: 0 auto
}


.propic {
    height: 20%;
    width: auto;

}

p {
    font-size: 18px;
}

.btn .btn-primary button {
    background-color: #777777;

}

.portfolio {
    padding: 20px 0px;
    text-align: center;
}
